<div class="Group">
    <div class="GroupName">ADD ITEM</div>
    <ul class="MenuList">
        <li class="ListItem">
            @panel.newItemButton()
        </li>
    </ul>
</div>
<div class="Group">
    <div class="GroupName">ITEM INFORMATION</div>
    <ul class="MenuList">
        <li class="ListItem"><span>show [30] items</span></li>
        <li class="ListItem"><span>collapse all</span></li>
    </ul>
</div>
<div class="Group">
    <div class="GroupName">ISSUE TRACKER</div>
    <ul class="MenuList">
        <li class="ListItem"><a href="#">refresh information</a></li>
        <li class="ListItem"><a href="#">find new issues</a></li>
        <li class="ListItem"><a href="#">find finished issues</a></li>
    </ul>
</div>
<div class="Group">
    <div class="GroupName">QUICK FILTERS</div>
    <ul class="MenuList">
        <li class="ListItem"><span>hide completed</span><span>[y/n]</span></li>
        <li class="ListItem"><span>team</span><span>[...]</span></li>
        <li class="ListItem"><span>client</span><span>[...]</span></li>
        <li class="ListItem"><span>feature</span><span>[...]</span></li>
        <li class="ListItem"><span>issue type</span><span>[...]</span></li>
    </ul>
</div>
<div class="Group">
    <div class="GroupName">SAVED FILTERS</div>
    <ul class="MenuList">
        <li class="ListItem"><a href="#">filter 1</a></li>
        <li class="ListItem"><a href="#">filter 2</a></li>
        <li class="ListItem"><a href="#">filter 3</a></li>
    </ul>
</div>
<div class="Group">
    <div class="GroupName">HIGHLIGHTS</div>
    <ul class="MenuList">
        <li class="ListItem">highlight 1</li>
        <li class="ListItem">highlight 2</li>
        <li class="ListItem">highlight 3</li>
    </ul>
</div>
<div class="Buttons">
    <div class="Button"><a href="#">HIGHLIGHT</a></div>
    <div class="Button"><a href="#">SEARCH</a></div>
</div>