@import models.pb.item.data.IssueTrackerData
@import models.pb.item.data.Color
@import models.pb.item.info.IssueTracker
@import models.pb.item.info.PBItemInfo
@import controllers.manager.ServiceManager

<div class="Product_Backlog" >
    <div class="Left_Menu">@leftMenu()</div>
    <div class="PB_Items">
        <div>@{pbItems(
            ServiceManager.pbItemsService.allItems()
            ,new models.pb.item.data.ItemInfoColors(Map.empty[PBItemInfo, Color]))}</div>
        <div>@pbFilters()</div>
    </div>
</div>