<div class="Product_Backlog" >
    <div class="Left_Menu">@leftMenu()</div>
    <div class="PB_Items">
        <div>@pbItems(Seq(
            models.pb.item.PBItem(1, "1111", models.pb.item.data.IssueTracker.getDefaultValue, "#"),
            models.pb.item.PBItem(2, "22222222222222", models.pb.item.data.IssueTracker.getDefaultValue, "#"),
            models.pb.item.PBItem(3, "3333333333333", models.pb.item.data.IssueTracker.getDefaultValue, "#")
        ))</div>
        <div>@pbFilters()</div>
    </div>
</div>