<div class="Item_Details_Close"><span>&laquo;</span></div>
<table class="Item_Details_Table" id="details_column">
    <tr id="details_row">
        <td class="AdditionalInfoName"><span id="name">client: </span></td>
        <td class="AdditionalInfoElement"><span id="value">my favourite client</span></td>
    </tr>
        <tr><td class="AdditionalInfoName">team: </td><td class="AdditionalInfoElement">scrum team 1</td></tr>
        <tr><td class="AdditionalInfoName">feature: </td><td class="AdditionalInfoElement">very important feature</td></tr>
</table>

<table class="Item_Details_Table"><tr><td class="AdditionalInfoName">Deadline: </td><td class="AdditionalInfoElement">2011.12.31</td></tr>
    <tr><td class="AdditionalInfoName">Assignee: </td><td class="AdditionalInfoElement">Michal</td></tr>
    <tr><td class="AdditionalInfoName">Requestor: </td><td class="AdditionalInfoElement">Godzilka</td></tr>
</table>
