@(itemId: Long)
<table class="NotesAndTasks">
    <thead>
    <th>notes</th>
    <th>user story</th>
    <th>tasks</th>
    </thead>
    <tr>
        <td>
            <textarea id="notes">Ask whether the requestor can provide picture illustrating the feature.</textarea>
        </td>
        <td>
            <textarea id="user_story">As com ,
                I want to ,
                so that .</textarea>
        </td>
        <td>
            <textarea id="tasks">+ implement
                + test
                + docu</textarea>
        </td>
    </tr>
</table>